<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            background-color: aliceblue;
            padding: 27px;
            font-size: 21px;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            align-self: center;
            margin: auto;
        }

        input {
            margin: 8px 0;
        }

    </style>
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>About Page</h1>
    <form action="/about" method="POST" >
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value=''>

        <label for="job">Job</label>
        <input type="text" name="job" id="job" value=''>

        <label for="email">Email</label>
        <input type="text" name="email" id="email" value=''>

        <button type='submit'>Submit</button>
    </form>
</body>
</html>